In [1]:
import pandas as pd
df=pd.read_csv('NO2_data.csv')

In [2]:
df.head()

  Report Type : StationReport Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                        Date       Time         NO        NO2        NOX
1                         NaN        NaN        ppb        ppb        ppb
2                      1/1/18   12:00 AM        NaN        NaN        NaN
3                      1/2/18   12:00 AM        NaN        NaN        NaN
4                      1/3/18   12:00 AM        NaN        NaN        NaN

In [3]:
df.scatter(Unnamed:3)

SyntaxError: invalid syntax (<ipython-input-3-fabbfc864826>, line 1)

In [ ]:
df2=pd.read_csv('all_contaminants_data.csv')

In [ ]:
df2.head()

In [ ]:

df2.columns = ['Date', 'Time','Wind Spd S','Wind Dir S','Temp Amb 10m','NO','NO2','NOX','WAQA_CO','BC_633','UV_633','BAM_PM25']

In [ ]:
df2

In [ ]:
selected_columns = df2[["Date","NO2","BAM_PM25"]]
df3 = selected_columns.copy()

In [ ]:
df3

In [ ]:
df3.drop(df3.index[0],inplace=True)

In [ ]:
import datetime as dt

In [ ]:
import matplotlib.pyplot as plt

fig,ax = plt.subplot()
ax.scatter(df3['Date'],df3['NO2'])

In [6]:
df4=pd.read_csv('contam_Beacon_data.csv')

In [7]:
df4

,Report Type : StationReport,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Date,Time,Trace SO2,Trace NO,Trace NOy,Trace NOy-NO,WAQA_CO,O3,RTEMP,Wind Spd S,Wind Dir S,Temp Amb,Amb Press,Rain,RH,BAM_PM25,NO2_CAPS
1,NaN,NaN,ppb,ppb,ppb,ppb,ppm,ppm,DegF,MPH,Deg,DegF,mb,mm,%,ug/m^3,ppb
2,2/1/07,12:00 AM,NaN,NaN,NaN,NaN,NaN,0.007,67,3.5,NaN,38.8,NaN,NaN,NaN,NaN,NaN
3,2/2/07,12:00 AM,NaN,NaN,NaN,NaN,NaN,0.002,67,2.7,NaN,36.9,NaN,NaN,NaN,NaN,NaN
4,2/3/07,12:00 AM,NaN,NaN,NaN,NaN,NaN,0.004,67,4.1,NaN,38.8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4821,MaxTime,NaN,12:00,12:00,12:00,12:00,12:00,12:00,12:00,12:00,12:00,12:00,12:00,12:00,12:00,12:00,12:00
4822,Avg,NaN,0.99,7.1,19.4,12.1,0.222,0.018,74,3.9,162.7,52.1,1004,337127,77,3.4,10.562
4823,Num,NaN,3968,4701,4701,4701,527,4602,4769,4453,4245,4532,3531,2328,3959,94,716
4824,Data[%],NaN,82,97,97,97,10,95,99,92,88,94,73,48,82,1,14
4825,STD,NaN,0.9,11.1,15.8,6,0,0,3,1.1,116.7,10.1,6.8,NaN,12.7,2.5,5.2

In [8]:
df4.head()

,Report Type : StationReport,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Date,Time,Trace SO2,Trace NO,Trace NOy,Trace NOy-NO,WAQA_CO,O3,RTEMP,Wind Spd S,Wind Dir S,Temp Amb,Amb Press,Rain,RH,BAM_PM25,NO2_CAPS
1,NaN,NaN,ppb,ppb,ppb,ppb,ppm,ppm,DegF,MPH,Deg,DegF,mb,mm,%,ug/m^3,ppb
2,2/1/07,12:00 AM,NaN,NaN,NaN,NaN,NaN,0.007,67,3.5,NaN,38.8,NaN,NaN,NaN,NaN,NaN
3,2/2/07,12:00 AM,NaN,NaN,NaN,NaN,NaN,0.002,67,2.7,NaN,36.9,NaN,NaN,NaN,NaN,NaN
4,2/3/07,12:00 AM,NaN,NaN,NaN,NaN,NaN,0.004,67,4.1,NaN,38.8,NaN,NaN,NaN,NaN,NaN